*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    color: white;
}

/* Secondary Color: #181818  */

#twitterLogo{
    padding: 15px;
    border-radius: 50%;
    transition: all .3s;
}

#twitterLogo:hover{
    cursor: pointer;
    background-color: #181818;
}

#container div{
    border-radius: 35px;
    padding: 10px 15px;
    transition: all .3s;
}

#container div:hover{
    cursor: pointer;
    background-color: #181818;
}

#postComponents div{
    color: #1d9bf0;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

#postComponents div:hover{
    background-color: #031018;
}

#postOptions div{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: small;
    width: 70px;
    height: 40px;
    transition: all .3s;
    border-radius: 45px;
}

#postOptions div:nth-child(1):hover {
    background-color: #0a171f;
    color: #1a89d4;
 
}

#postOptions div:nth-child(2):hover {
    background-color: #071a14;
    color: #00b478;

}

#postOptions div:nth-child(3):hover {
    background-color: #200914;
     color: #d91670;

}

#postOptions div:nth-child(4):hover {
    background-color: #0a171f;
    color: #1a89d4;
 
}

#bookmarkDiv div:hover{
    background-color: #0a171f;
    color: #1a89d4;
}